[user]
	name = mtontsch
{{- if eq .role "work" }}
	email = maximilian.tontsch@unibw.de
{{- else }}
	email = tontsch.ma@proton.me
{{- end }}

# Identity follows the forge, overriding the default above:
# GitLab (work) -> unibw, GitHub (private) -> proton
[includeIf "hasconfig:remote.*.url:https://git.unibw.de/**"]
	path = ~/.config/git/work.inc
[includeIf "hasconfig:remote.*.url:git@git.unibw.de:*/**"]
	path = ~/.config/git/work.inc
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.config/git/github.inc
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.config/git/github.inc

[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rebase]
	autostash = true
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
	colorMoved = default

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
